{% extends "base.html" %}

{% block content %}


<div class='container'>
  <div class='row'>
    <div class="col-sm-10 offset-sm-1 text-center mt-2">
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        <div class="form-check">
          {{ form.errors }}
        </div>
          <button type="submit" class="btn btn-dark btn-lg ml-2">Войти в систему</button>
      </form>
          <a class="btn btn-dark btn-lg ml-2 mt-2" href="{% url 'password_reset' %}" role="button"> Я не помню свой пароль </a>

</div>
</div>
</div>
{% endblock %}