{% extends "base.html" %}

{% block content %}

<div class='container'>
    <div class='row'>
      <div class="col-sm-10 offset-sm-1 text-center mt-2">
        <form method="POST" action="{% url 'password_reset' %}">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-dark btn-lg ml-2"> Сбросить пароль </button>
        </form>
        </div>
    </div>
</div>
{% endblock %}