{% extends "base.html" %}

{% block content %}
<!-- Button that triggers modal with form to add an employee -->
  <div class="row justify-content-start mt-1 ml-2">
      <button type="button" class="btn btn-dark btn-lg js-create-employee" data-url="{% url 'ajax_create_employee' %}">
        Добавить сотрудника
      </button>
      <a href="{% url 'dashboard' tidentifier %}" class="btn btn-dark btn-lg ml-2" role="button"> Панель управления </a>
  </div>


<!-- Modal itself -->
<div class="modal fade" id="modal-employee">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>

<!-- Personell display section -->
    <div class="row">
      <table class="table table-hover table-bordered table-dark mt-3 ml-5 mr-5 mb-5" id="employee-table">
        <thead>
          <tr>
            <th scope="col-sm-1" class="text-md-center"> Имя </th>
            <th scope="col-sm-2" class="text-md-center"> Фамилия </th>
            <th scope="col-sm-2" class="text-md-center"> Должность </th>
            <th scope="col-sm-2" class="text-md-center"> Имя пользователя </th>
            <th scope="col-sm-2" class="text-md-center"> Электронная почта </th>
          </tr>
        </thead>
        <tbody>
          {% include "partial_employeelist.html" %}
        </tbody>
      </table>
    </div>


{% endblock %}

{% block custom_js %}
<script>
  
  $(function () {

// Create employee

var loadForm = function () {
  var btn = $(this);
  $.ajax({
    url: btn.attr("data-url"),
    type: 'get',
    dataType: 'json',
    beforeSend: function () {
      $("#modal-employee .modal-content").html("");
      $("#modal-employee").modal("show");
    },
    success: function (data) {
      $("#modal-employee .modal-content").html(data.html_form);
    }
  });
};

var saveForm = function () {
  var form = $(this);
  $.ajax({
    url: form.attr("action"),
    data: form.serialize(),
    type: form.attr("method"),
    dataType: 'json',
    success: function (data) {
      if (data.form_is_valid) {
        $("#employee-table tbody").html(data.html_employee_list);
        $("#modal-employee").modal("hide");
      }
      else {
        $("#modal-employee .modal-content").html(data.html_form);
      }
    }
  });
  return false;
};

// Toggle appropriate form function

$(".js-create-employee").click(loadForm);
$("#modal-employee").on("submit", ".js-employee-create-form", saveForm);

// Inline edit section

// Input fields processing section

$(document).on("dblclick", ".editable", function(){
    var current_value = $(this).text();
    var input_type = 'text'
    var input="<input type='"+input_type+"' class='input-data' value='"+current_value+"'>";
    $(this).html(input);
    $(this).removeClass('text-md-center editable').addClass('text-md-center')
  });

  $(document).on("blur", ".input-data", function(){
    var new_value = $(this).val();
    var td=$(this).parent("td");
    $(this).remove();
    td.html(new_value);
    var model_name = td.attr('data-model')
    var model_field = td.attr('data-field')
    var model_instnace_id = td.attr('value')
    td.removeClass('text-md-center').addClass('text-md-center editable')
    $.ajax({
      url: "{% url 'ajax_update_static_value' %}",
      type: 'post',
      dataType: 'json',
      data: {'model_name': model_name, 'model_field_name': model_field, 'model_instance_id': model_instnace_id, 'new_value': new_value, 'csrfmiddlewaretoken': "{{ csrf_token }}"},
      success: function (data) {
        td.html(data.new_value)
      }
    })
  });

// Static select-box procesing section

// Intializing static select-box

  var title_select = [
  {value : 'MG', object_text: 'Менеджер'},
  {value : 'AD', object_text: 'Администратор'},
  {value : 'ST', object_text: 'Персонал'}
  ];

  $(document).on("dblclick", ".editable-select-static", function(){
    var td = $(this)
    var sel = $('<select>')
    sel.addClass('choice-box-static')
    $(title_select).each(function() {
      sel.append($("<option>").attr('value', this.value).text(this.object_text));
    })
    td.html(sel)
    td.removeClass('text-md-center editable-select').addClass('text-md-center')
  });

  $(document).on("blur", ".choice-box-static", function(){
    var input_value_text = $(this).find("option:selected").text() // option object text
    var new_value = $(this).find("option:selected").val() // selected value
    var td=$(this).parent("td");
    var model_name = td.attr('data-model') // model name
    var model_field = td.attr('data-field') // model field name
    var model_instnace_id = td.attr('value') // model instance id
    $(this).remove();
    td.removeClass('text-md-center').addClass('text-md-center editable-select')
    td.html(input_value_text);
    $.ajax({
      url: "{% url 'ajax_update_static_value' %}",
      type: 'post',
      dataType: 'json',
      data: {'new_value': new_value, 'model_name': model_name, 'model_field_name': model_field, 'model_instance_id': model_instnace_id, 'csrfmiddlewaretoken': "{{ csrf_token }}"},
      success: function (data) {
        td.html(data.object_text)
      }
    }) 
  }); 

// Delete employee

$(document).on("click", '.delete-object', function(event){
    event.preventDefault();
    var object_id = $(this).attr('value')
    $.ajax({
            url: "{% url 'ajax_delete_employee' %}",
            type: "POST",
            data: {'object_id': object_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function (data) {
              $("#employee-table tbody").html(data.data);
            },
          });
  });
});
</script>
{% endblock %}


